.header {
  display: block;
}
.header__button {
  border-radius: 25px;
  border: 0px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  max-width: fit-content;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 20px 0px 10px 0px;
  font-size: 15px;
}
.header__button:hover {
  filter: brightness(120%);
  cursor: pointer;
}
.header__heading {
  text-align: center;
  margin: 0px;
}
.header__paragraph {
  text-align: center;
}
.header__container--text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 35px 0px;
}
.header__container--img {
  background-color: white;
  display: flex;
  justify-content: center;
}
.header__img {
  max-width: 200px;
  margin: 15px 0px;
}
.header__container--location {
  background-color: #eaeaea;
  display: flex;
  justify-content: center;
  box-shadow: inset 1px 4px 7px #d4d4d4;
  padding: 15px;
}
.header__location--icon {
  margin-right: 15px;
}

.header__menu {
  max-width: 900px;
  margin: auto;
}
.header__container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.header__arrow {
  display: flex;
  justify-self: flex-start;
  margin-left: 15px;
}
.header__arrow--prev {
  font-size: 30px;
  color: black;
}
.header__logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__img {
  justify-self: center;
}

.menu {
  max-width: 900px;
  margin: auto;
}
.menu__wrapper {
  border-top-left-radius: 35px;
  border-top-right-radius: 35px;
  z-index: 1;
  margin-top: -50px;
  background-color: #f6f6f6;
  padding: 0px 20px;
}
.menu__img--gout {
  z-index: -1;
  height: 250px;
  background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
  background-size: cover;
}
.menu__img--sens {
  z-index: -1;
  height: 250px;
  background: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
  background-size: cover;
}
.menu__img--enchantee {
  z-index: -1;
  height: 250px;
  background: url(../img/stil-u2Lp8tXIcjw-unsplash.jpg);
  background-size: cover;
}
.menu__img--francaise {
  z-index: -1;
  height: 250px;
  background: url(../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
  background-size: cover;
}
.menu__container {
  display: flex;
  flex-direction: column;
  padding: 20px 0px;
  align-items: center;
}
.menu__container--button {
  display: flex;
  justify-content: center;
}
.menu__prev {
  text-decoration: none;
  color: black;
  box-shadow: 2px 3px 20px 5px #e7e7e7;
  border-radius: 15px;
  margin-bottom: 25px;
  width: 100%;
  background-color: white;
  position: relative;
}
.menu__prev:hover .menu__prev--check {
  animation-name: check;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__prev:hover i {
  animation-name: check_rotating;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__prev:hover .menu__prev--price {
  animation-name: price-sliding;
  animation-duration: 1000ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__prev--check {
  z-index: 1;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 66px;
  width: 50px;
  border-radius: 0px 15px 15px 0px;
  background-color: #99e2d0;
  animation-name: check_sliding;
  animation-duration: 1000ms;
  animation-delay: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__prev i {
  z-index: 2;
  color: white;
  position: absolute;
  right: 12px;
  top: 22px;
  font-size: 25px;
}
.menu__prev--text {
  max-width: 350px;
  width: 100%;
}
.menu__prev--container {
  display: flex;
  justify-content: space-between;
  max-width: calc(100% - 3rem);
}
.menu__prev--bold {
  font-weight: bold;
  font-size: 18px;
  margin: 10px 0px 0px 10px;
}
.menu__prev--light {
  margin: 10px 0px 10px 10px;
  font-size: 13px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  max-width: calc(100% - 3rem);
}
.menu__prev--price {
  width: 3rem;
  padding: 0px 20px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
}
.menu__prev--dish {
  display: block;
  margin: 0px;
  width: 30px;
  padding-bottom: 5px;
  border-bottom: 3px solid #99E2D0;
}
.menu__prev--dish h3 {
  font-weight: lighter;
  margin-bottom: 0px;
  font-size: 20px;
}
.menu__prev--button {
  border-radius: 25px;
  border: 0px;
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  max-width: fit-content;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 30px 0px 30px 0px;
  font-size: 15px;
}
.menu__prev--button:hover {
  filter: brightness(110%);
  cursor: pointer;
}
.menu__prev--title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__prev--title h1 {
  font-size: 35px;
  font-family: Shrikhand, cursive;
}
.menu__heart {
  font-size: 25px;
}
.menu__heart:hover > .menu__heart--color {
  color: red;
  transition: opacity linear 2000ms;
  opacity: 1;
}
.menu__heart--bw {
  opacity: 1;
  position: absolute;
  z-index: 2;
}
.menu__heart--color {
  opacity: 0;
  z-index: 1;
}
.menu__loader--one {
  animation-name: menu_loading-one;
  animation-duration: 2000ms;
  animation-delay: 300ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__loader--two {
  animation-name: menu_loading-two;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__loader--three {
  animation-name: menu_loading-three;
  animation-duration: 2000ms;
  animation-delay: 700ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}
.menu__loader--four {
  animation-name: menu_loading-four;
  animation-duration: 2000ms;
  animation-delay: 900ms;
  animation-timing-function: ease;
  animation-iteration-count: 1;
  animation-direction: initial;
  animation-fill-mode: both;
}

@media all and (max-width: 600px) {
  .menu__prev--title h1 {
    font-size: 30px;
    font-family: Shrikhand, cursive;
  }
}
@keyframes loader-spinner {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 0.85;
    z-index: 5555;
  }
  50% {
    transform: scale(1.2);
    z-index: 5555;
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 0;
    z-index: -5555;
  }
}
@keyframes check {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes check_rotating {
  0% {
    opacity: 1;
    transform: rotate(0deg);
  }
  100% {
    opacity: 1;
    transform: rotate(360deg);
  }
}
@keyframes price-sliding {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}
@keyframes menu_loading-one {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu_loading-two {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu_loading-three {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes menu_loading-four {
  0% {
    opacity: 0;
    transform: scale(1);
  }
  50% {
    opacity: 0.85;
    transform: scale(1.01);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.footer {
  background-color: #353535;
  color: white;
}
.footer__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15px;
}
.footer__container--wrapper {
  display: flex;
  justify-content: space-around;
}
.footer__container--menu {
  display: flex;
  flex-direction: column;
}
.footer__container--info {
  display: flex;
  flex-direction: column;
}
.footer i {
  margin-right: 5px;
  font-size: 15px;
}
.footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}
.footer img {
  max-width: 150px;
  max-height: 50px;
  margin: 15px 0px 15px 0px;
  align-self: center;
}

@media all and (max-width: 450px) {
  .footer__container--wrapper {
    flex-direction: column;
  }
  .footer img {
    align-self: flex-start;
  }
}
body {
  font-family: Roboto;
  margin: 0px;
  background-color: #f6f6f6;
  margin: auto;
}

.box {
  max-width: 1200px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.loading {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  font-size: 75px;
  color: white;
  background-color: #353535;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  animation-name: loader;
  animation-duration: 2500ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: initial;
  animation-fill-mode: both;
}
.loading img {
  object-fit: cover;
}
.loading__spinner {
  margin-top: 50px;
  animation-name: loader-spinner;
  animation-duration: 2000ms;
  animation-delay: 500ms;
  animation-timing-function: ease-in-out;
  animation-direction: initial;
  animation-fill-mode: both;
}

.main__container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  padding: 10px 0px;
}
.main__prev {
  width: 47%;
  margin-bottom: 35px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
  box-shadow: 6px 7px 20px lightgrey;
}
.main__prev--bold {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px 10px 10px;
}
.main__prev--ville {
  margin: 0px 0px 20px 10px;
  font-size: 20px;
}
.main__prev img {
  width: 100%;
  height: 170px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.main__prev i {
  position: absolute;
  right: 20px;
  bottom: 35px;
  font-size: 25px;
}
.main__prev span {
  font-size: 15px;
  padding: 7px;
  background-color: #99e2d0;
  color: #269d80;
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  font-weight: bold;
}

.fonctionnement {
  background-color: white;
  padding: 5px 0px 35px 0px;
}
.fonctionnement__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.fonctionnement__heading {
  display: flex;
  justify-content: flex-start;
}
.fonctionnement__container {
  border-radius: 20px;
  padding: 25px 50px;
  margin: 10px;
  background-color: #f6f6f6;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  position: relative;
  box-shadow: 2px 5px 20px 0px lightgray;
}
.fonctionnement__container:hover {
  background-color: #f5edff;
}
.fonctionnement__container:hover i {
  color: #9356DC;
}
.fonctionnement__container--number {
  position: absolute;
  left: -10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fonctionnement__container i {
  margin-right: 25px;
  font-size: 20px;
}

@media all and (max-width: 1040px) {
  .fonctionnement__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
  }
}
@media all and (max-width: 600px) {
  .main__container {
    justify-content: center;
  }
  .main__prev {
    width: 90%;
  }

  .fonctionnement__heading {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=style.css.map */
