@keyframes loader-spinner {
    0% {
        transform: rotate(360deg);
    }
    100% {
        transform: rotate(720deg);
    }
}

@keyframes loader {
    0% {
        transform: scale(1);
        opacity: .85;
        z-index: 5555;
    }
    50% {
        transform: scale(1.2);
        z-index: 5555;
        opacity: .50;
    }
    100% {
        transform: scale(1);
        opacity: 0;
        z-index: -5555;
    }
}

@keyframes check {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes check_rotating {
    0% {
        opacity: 1;
        transform: rotate(0deg);
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}

@keyframes price-sliding {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }
}

@keyframes menu_loading-one {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: .85;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menu_loading-two {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: .85;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menu_loading-three {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: .85;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes menu_loading-four {
    0% {
        opacity: 0;
        transform: scale(1);
    }
    50% {
        opacity: .85;
        transform: scale(1.01);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}