.footer {
    background-color: rgb(54, 54, 54);
    color: white;
    &__container {
        display: flex;
        flex-direction: column;
        color: white;
        margin: 20px;
    }
    i {
        margin-right: 5px;
        font-size: 15px;
    }
    a {
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
    }
    img {
        max-width: 150px;
        max-height: 50px;
        margin: 15px 0px 15px 0px;
        align-items: center;
    }
}