.footer {
    background-color: #353535;
    color: white;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-bottom: 15px;
        &--wrapper {
            display: flex;
            justify-content: space-around;
        }
        &--menu {
            display: flex;
            flex-direction: column;
        }
        &--info {
            display: flex;
            flex-direction: column;
        }
    }
    i {
        margin-right: 5px;
        font-size: 15px;
    }
    a {
        text-decoration: none;
        color: white;
        margin-bottom: 10px;
    }
    img {
        max-width: 150px;
        max-height: 50px;
        margin: 15px 0px 15px 0px;
        align-self: center;
    }
}

@media all and (max-width: 450px) {
    .footer {
        &__container {
            &--wrapper {
                flex-direction: column;
            }
        }
    img {
        align-self: flex-start;
    }
    }

}