.header {
    &__menu {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    &__arrow {
        display: flex;
        justify-self: flex-start;
        margin-left: 15px;
        &--prev {
            font-size: 30px;
            color: black;
        }
    }
    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        justify-self: center;
    }
}

.menu {
    max-width: 900px;
    margin: auto;
    &__wrapper {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
    }
    &__img {
        z-index: -1;
        height: 200px;
        background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
        background-size: cover;
    }
    &__container {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        align-items: center;
        &--button {
            display: flex;
            justify-content: center;
        }
    }
    &__prev {
        text-decoration: none;
        color: black;
        box-shadow: 2px 3px 20px 5px #e7e7e7;;
        border-radius: 15px;
        margin-bottom: 25px;
        width: 100%;
        background-color: white;
        position: relative;
        &--bold {
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0px 10px 10px;
        }
        &--light {
            margin: 10px 0px 10px 10px;
            font-size: 13px;
        }
        span {
            font-weight: bold;
            font-size: 17px;
            position: absolute;
            bottom: 10px;
            right: 10px;
        }
        &--dish {
            display: block;
            margin: 0px;
            width: 30px;
            padding-bottom: 5px;
            border-bottom: 3px solid $third-color;
            h3 {
                font-weight: lighter;
                margin-bottom: 0px;
                font-size: 20px;
            }
        }
        &--button {
            border-radius: 25px;
            border: 0px;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            max-width: fit-content;
            color: white;
            padding: 15px;
            text-align: center;
            margin: 30px 0px 30px 0px;
            font-size: 15px;
            &:hover {
                filter: brightness(120%);
                cursor: pointer;
            }
        }
        &--title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            i {
                font-size: 30px;
                margin-right: 30px;
            } 
        }
    }
}