.header {
    &__menu {
        max-width: 900px;
        margin: auto;
    }
    &__container {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
    &__arrow {
        display: flex;
        justify-self: flex-start;
        margin-left: 15px;
        &--prev {
            font-size: 30px;
            color: black;
        }
    }
    &__logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__img {
        justify-self: center;
    }
}

.menu {
    max-width: 900px;
    margin: auto;
    &__wrapper {
        border-top-left-radius: 35px;
        border-top-right-radius: 35px;
        z-index: 1;
        margin-top: -50px;
        background-color: #f6f6f6;
        padding: 0px 20px;
    }
    &__img {
        &--gout {
            z-index: -1;
            height: 250px;
            background: url(../img/jay-wennington-N_Y88TWmGwA-unsplash.jpg);
            background-size: cover;
        }
        &--sens {
            z-index: -1;
            height: 250px;
            background: url(../img/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg);
            background-size: cover;
        }
        &--enchantee{
            z-index: -1;
            height: 250px;
            background: url(../img/stil-u2Lp8tXIcjw-unsplash.jpg);
            background-size: cover;
        }
        &--francaise {
            z-index: -1;
            height: 250px;
            background: url(../img/toa-heftiba-DQKerTsQwi0-unsplash.jpg);
            background-size: cover;
        }

    }
    &__container {
        display: flex;
        flex-direction: column;
        padding: 20px 0px;
        align-items: center;
        &--button {
            display: flex;
            justify-content: center;
        }
    }
    &__prev {
        text-decoration: none;
        color: black;
        box-shadow: 2px 3px 20px 5px #e7e7e7;;
        border-radius: 15px;
        margin-bottom: 25px;
        width: 100%;
        background-color: white;
        position: relative;
        &:hover &--check {
            animation-name: check;
            animation-duration: 1000ms;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: initial;
            animation-fill-mode: both;
        }
        &:hover i {
            animation-name: check_rotating;
            animation-duration: 1000ms;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: initial;
            animation-fill-mode: both;
        }
        &:hover &--price {
            animation-name: price-sliding;
            animation-duration: 1000ms;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: initial;
            animation-fill-mode: both;
        }
        &--check {
            z-index: 1;
            position: absolute;
            right: 0px;
            top: 0px;
            height: 66px;
            width: 50px;
            border-radius: 0px 15px 15px 0px;
            background-color: #99e2d0;
            animation-name: check_sliding;
            animation-duration: 1000ms;
            animation-delay: 300ms;
            animation-timing-function: ease;
            animation-iteration-count: 1;
            animation-direction: initial;
            animation-fill-mode: both;
        }
        i {
            z-index: 2;
            color: white;
            position: absolute;
            right: 12px;
            top: 22px;
            font-size: 25px;
        }
        &--text {
            max-width: 350px;
            width: 100%;
        }
        &--container {
            display: flex;
            justify-content: space-between;
            max-width: calc(100% - 3rem);
        }
        &--bold {
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0px 0px 10px;
        }
        &--light {
            margin: 10px 0px 10px 10px;
            font-size: 13px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            max-width: calc(100% - 3rem);
        }
        &--price {
            width: 3rem;
            padding: 0px 20px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 10px;
            font-size: 18px;
            font-weight: bold;
        }
        &--dish {
            display: block;
            margin: 0px;
            width: 30px;
            padding-bottom: 5px;
            border-bottom: 3px solid $third-color;
            h3 {
                font-weight: lighter;
                margin-bottom: 0px;
                font-size: 20px;
            }
        }
        &--button {
            border-radius: 25px;
            border: 0px;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            max-width: fit-content;
            color: white;
            padding: 15px;
            text-align: center;
            margin: 30px 0px 30px 0px;
            font-size: 15px;
            &:hover {
                filter: brightness(110%);
                cursor: pointer;
            }
        }
        &--title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            h1 {
                font-size: 35px;
                font-family: Shrikhand, cursive;
            }
        }
    }
    &__heart {
        font-size: 25px;
        &:hover > &--color {
            color: red;
            transition: opacity linear 2000ms;
            opacity: 1;
        }
        &--bw {
            opacity: 1;
            position: absolute;
            z-index: 2;
        }
        &--color {
            opacity: 0;
            z-index: 1;
        }
    }
    &__loader {
        &--one {
        animation-name: menu_loading-one;
        animation-duration: 2000ms;
        animation-delay: 300ms;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: initial;
        animation-fill-mode: both;
        }
        &--two {
        animation-name: menu_loading-two;
        animation-duration: 2000ms;
        animation-delay: 500ms;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: initial;
        animation-fill-mode: both;
        }
        &--three {
        animation-name: menu_loading-three;
        animation-duration: 2000ms;
        animation-delay: 700ms;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: initial;
        animation-fill-mode: both;
        }
        &--four {
        animation-name: menu_loading-four;
        animation-duration: 2000ms;
        animation-delay: 900ms;
        animation-timing-function: ease;
        animation-iteration-count: 1;
        animation-direction: initial;
        animation-fill-mode: both;
        }
    }
}

@media all and (max-width:600px) {
    .menu__prev--title {
        h1 {
            font-size: 30px;
            font-family: Shrikhand, cursive;
        }
    }
}

