.header {
    &__menu {
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: center;
    }
    &__arrow {
        display: flex;
        justify-content: flex-start;
        &--prev {
            font-size: 30px;
            color: black;
        }
    }
}

.menu {
    &__img {

       img {
        width: 100%;
        height: 300px;
        object-fit: cover;
       }
    }
    &__container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 0px;
        &--button {
            display: flex;
            justify-content: center;
        }
    }
    &__prev {
        box-shadow: 2px 3px 20px 5px #e7e7e7;;
        border-radius: 15px;
        width: 31%;
        background-color: white;
        position: relative;
        &--bold {
            font-weight: bold;
            font-size: 18px;
            margin: 10px 0px 10px 10px;
        }
        &--light {
            margin: 10px 0px 10px 10px;
            font-size: 13px;
        }
        span {
            font-weight: bold;
            font-size: 20px;
            position: absolute;
            bottom: 15px;
            right: 10px;
        }
        &--dish {
            display: block;
            margin: 0px;
            width: 30px;
            padding-bottom: 5px;
            border-bottom: 3px solid $third-color;
            h3 {
                font-weight: lighter;
                margin-bottom: 0px;
                font-size: 20px;
            }
        }
        &--button {
            border-radius: 25px;
            border: 0px;
            background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
            max-width: fit-content;
            color: white;
            padding: 15px;
            text-align: center;
            margin: 30px 0px 30px 0px;
            font-size: 15px;
            &:hover {
                filter: brightness(120%);
                cursor: pointer;
            }
        }
        &--title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            i {
                font-size: 30px;
                margin-right: 30px;
            } 
        }
    }
}

@media all and (max-width: 1150px) {
    .menu {
        &__container {
            flex-direction: column;
            align-items: center;
        }
        &__prev {
            width: 35%;
            margin-bottom: 25px;
            min-width: 350px;
        }
        
    }
}