.header {
  display: block;
}

.header__button {
  border-radius: 25px;
  border: 0px;
  background-image: -webkit-gradient(linear, left top, right bottom, from(#FF79DA), to(#9356DC));
  background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  color: white;
  padding: 15px;
  text-align: center;
  margin: 20px 0px 10px 0px;
  font-size: 15px;
}

.header__button:hover {
  -webkit-filter: brightness(120%);
          filter: brightness(120%);
  cursor: pointer;
}

.header__heading {
  text-align: center;
  margin: 0px;
}

.header__paragraph {
  text-align: center;
}

.header__container--text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 35px 0px;
}

.header__container--img {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header__img {
  max-width: 200px;
  margin: 15px 0px;
}

.header__container--location {
  background-color: #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-shadow: inset 1px 4px 7px #d4d4d4;
          box-shadow: inset 1px 4px 7px #d4d4d4;
  padding: 15px;
}

.header__location--icon {
  margin-right: 15px;
}

.fonctionnement {
  background-color: white;
  padding: 5px 0px 35px 0px;
}

.fonctionnement__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fonctionnement h2 {
  text-align: start;
  margin-left: 15px;
}

.fonctionnement__container {
  border-radius: 20px;
  padding: 25px 50px;
  margin: 10px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  color: black;
  position: relative;
  -webkit-box-shadow: 2px 5px 20px 0px lightgray;
          box-shadow: 2px 5px 20px 0px lightgray;
}

.fonctionnement__container:hover {
  background-color: #f5edff;
}

.fonctionnement__container:hover i {
  color: #9356DC;
}

.fonctionnement__container--number {
  position: absolute;
  left: -10px;
  text-align: center;
  width: 15px;
  border-radius: 50%;
  background-color: #9356DC;
  padding: 5px;
}

.fonctionnement__container i {
  margin-right: 25px;
  font-size: 20px;
}

@media all and (max-width: 1040px) {
  .fonctionnement__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 15px;
  }
}

.footer {
  background-color: #363636;
  color: white;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: white;
  margin: 20px;
}

.footer i {
  margin-right: 5px;
  font-size: 15px;
}

.footer a {
  text-decoration: none;
  color: white;
  margin-bottom: 10px;
}

.footer img {
  max-width: 150px;
  max-height: 50px;
  margin: 15px 0px 15px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  font-family: Roboto;
  margin: 0px;
  background-color: #f6f6f6;
  max-width: 1200px;
  margin: auto;
}

.box {
  max-width: 1200px;
  margin: auto;
  margin: 0px 20px 0px 20px;
}

.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px 0px;
}

.main__prev {
  width: 47%;
  margin-bottom: 35px;
  border-radius: 15px;
  text-decoration: none;
  color: black;
  background-color: white;
  position: relative;
  -webkit-box-shadow: 6px 7px 20px lightgrey;
          box-shadow: 6px 7px 20px lightgrey;
}

.main__prev--bold {
  font-weight: bold;
  font-size: 20px;
  margin: 10px 0px 10px 10px;
}

.main__prev--ville {
  margin: 0px 0px 20px 10px;
  font-size: 20px;
}

.main__prev img {
  width: 100%;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}

.main__prev i {
  position: absolute;
  right: 20px;
  bottom: 35px;
  font-size: 25px;
}

.main__prev span {
  font-size: 15px;
  padding: 7px;
  background-color: #99e2d0;
  color: #269d80;
  position: absolute;
  top: 10px;
  right: 10px;
}

@media all and (max-width: 600px) {
  .main__container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .main__prev {
    width: 90%;
  }
}
/*# sourceMappingURL=main.css.map */