@import "./variables";
@import "./header";
@import "./menu";
@import "./animation";
@import "./footer";

@font-face {
    font-family: "Shrikhand";
    src: url(../font/Shrikhand.ttf);
}
@font-face {
    font-family: "Roboto";
    src: url(../font/Roboto-Regular.ttf);
}
body {
    font-family: Roboto;
    margin: 0px;
    background-color: #f6f6f6;
    margin: auto;
}

.box {
    max-width: 1200px;
    margin: auto;
    padding-left: 20px;
    padding-right: 20px;
}

.loading {
    & img {
        object-fit: cover;
        width: 280px;
    }
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 2;
    font-size: 75px;
    color: white;
    background-color: #353535;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    animation-name: loader;
    animation-duration: 2500ms;
    animation-delay: 500ms;
    animation-timing-function: ease-in-out;
    animation-direction: initial;
    animation-fill-mode: both;
    &__spinner {
        margin-top: 50px;
        animation-name: loader-spinner;
        animation-duration: 2000ms;
        animation-delay: 500ms;
        animation-timing-function: ease-in-out;
        animation-direction: initial;
        animation-fill-mode: both;
    }
}

.main {
    &__container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        padding: 10px 0px;
    }
    &__prev {
        width: 47%;
        margin-bottom: 35px;
        border-radius: 15px;
        text-decoration: none; 
        color: black;
        background-color: white;
        position: relative;
        box-shadow: 6px 7px 20px lightgrey;;
        &--bold {
            font-weight: bold;
            font-size: 20px;
            margin: 10px 0px 10px 10px;
        }
        &--ville {
            margin: 0px 0px 20px 10px;
            font-size: 20px;
        }
        img {
            width: 100%;
            height: 170px;
            object-fit: cover;
            border-radius: 15px 15px 0px 0px;
        }
        i {
            position: absolute;
            right: 20px;
            bottom: 35px;
            font-size: 25px;
        }
        span {
            font-size: 15px;
            padding: 7px;
            background-color: #99e2d0;
            color: #269d80;
            position: absolute;
            top: 10px;
            right: 10px;
            border-radius: 5px;
            font-weight: bold;
        }
    }
}

.fonctionnement {
    background-color: white;
    padding: 5px 0px 35px 0px;
    &__wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    &__heading {
        display: flex;
        justify-content: flex-start;
    }
    &__container {
        border-radius: 20px;
        padding: 25px 50px;
        margin: 10px;
        background-color: #f6f6f6;
        display: flex;
        align-items: center;
        text-decoration: none;
        color: black;
        position: relative;
        box-shadow: 2px 5px 20px 0px lightgray;
        &:hover {
            background-color: #f5edff;
            i {
                color: $primary-color;
            }
        }
        &--number {
            position: absolute;
            left: -10px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background-color: $primary-color;
            padding: 5px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        i {
            margin-right: 25px;
            font-size: 20px;
        }
    }
}

@media all and (max-width: 1040px) {
    .fonctionnement__wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }
}

@media all and (max-width: 600px) {
    .main {
        &__container {
            justify-content: center;
        }
        &__prev {
            width: 90%;
        }
    }
    .fonctionnement {
        &__heading {
           display: flex;
           justify-content: center;
        }
    }
}