.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        margin-top: 15px;
        max-width: 200px;
    }
    button {
        border-radius: 25px;
        border: 0px;
        background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
        max-width: fit-content;
        color: white;
        padding: 10px;
        text-align: center;
    }
    h1 {
        text-align: center;
        margin: 0px;
    }
    p {
        text-align: center;
    }
    &--container__text {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}