.main {

    &-container {
        display: flex;
        flex-flow: row wrap;
    }
    &-prev {
        border: black 2px solid;
        border-radius: 15px;
        margin: 10px;
        text-decoration: none; 
        color: black;
    img {
        object-fit: cover;
        max-width: 250px;
        border-radius: 15px 15px 0px 0px;
    }
    }
}